mixin modal_ch()
	+b.modal.fade(id="thank-modal" role="dialog")
		.modal-dialog
			.modal-content
				.modal-bg
				.modal-body
					h2 感谢您！
					p 您将很快收到预售详情。
					button.btn.btn-two(data-dismiss="modal" aria-label="Close") 确认
