mixin modal()
	+b.modal.fade(id="thank-modal" role="dialog")
		.modal-dialog
			.modal-content
				.modal-bg
				.modal-body
					h2 Thank you!
					p You will receive pre-sale detail shortly.
					button.btn.btn-two(data-dismiss="modal" aria-label="Close") ok
