mixin about_ru()
	+b.SECTION.about
		+e.VIDEO.video(loop muted autoplay poster="images/poly-ainimation.png" id="video-background")
			source(src="poly-ainimation-007.mp4" type="video/mp4")
			source(src="poly-ainimation-007.webm" type="video/webm")
		.container
			.row
				.col-md-8.col-md-offset-2.text-center
					h2 ЧТО ВЫДЕЛЯЕТ НАШ ПРОЕКТ?
					+e.text
						p Наличие чистой питьевой воды – острый вопрос для миллионов людей по всему миру. В Китае, странах Юго-Восточной Азии до 80% воды загрязнено, а в некоторых странах Ближнего Востока пресная вода попросту отсутствует.

						p.allert «Байкалика» добывает питьевую воду из глубинного слоя  озера Байкал и осуществляет поставки потребителям в наиболее вододефицитных регионах.

						p За счет своей ценности для всего общества, проект является прекрасной возможностью для получения выгоды от покупки токенов.
