mixin about_ru()
	+b.SECTION.about
		+e.VIDEO.video(loop muted autoplay poster="images/poly-ainimation.png" id="video-background")
			source(src="poly-ainimation-007.mp4" type="video/mp4")
			source(src="poly-ainimation-007.webm" type="video/webm")
		.container
			.row
				.col-md-8.col-md-offset-2.text-center
					h2 ЧТО ВЫДЕЛЯЕТ НАШ ПРОЕКТ?
					+e.text
						p Наличие чистой питьевой воды – острый вопрос для миллионов людей по всему миру. В Китае, странах Юго-Восточной Азии до 80% воды загрязнено, а в некоторых странах Ближнего Востока пресная вода попросту отсутствует.

						p.allert Компания «Байкалика» не только добывает питьевую воду прямиком из самых глубинных слоев озера Байкал, но и занимается ее поставками в те регионы, которые нуждаются в чистой воде больше других.

						p Для криптоинвесторов наш проект – это отличная возможность помочь потребителям получить доступ к чистой питьевой воде, а также заработать на покупке токенов.
