mixin about()
	+b.SECTION.about
		+e.VIDEO.video(loop muted autoplay poster="images/poly-ainimation.png" id="video-background")
			source(src="poly-ainimation-007.mp4" type="video/mp4")
			source(src="poly-ainimation-007.webm" type="video/webm")
		.container
			.row
				.col-md-8.col-md-offset-2.text-center
					h2 What is so great about this project?
					+e.text
						p By 2025, pure drinking water deficiency on earth will have grown up to 1.3-2.0 trillion cubic meters per year. China, Southeast Asia, Middle East and Africa will be the first to encounter fresh water severe shortage.

						p.allert BAIKALIKA extracts the deep-layer water from the lake Baikal and works on promotionalpromotion of BAIKALIKA on most water-deficient regions in the world.

						p Thus, Baikalika project has a great potential for providing a stable supply of the pure drinking water to the consumers and also providing a great opportunity for the BAIKALIKA token holders to obtain substantial profits
