mixin about_ch()
	+b.SECTION.about
		+e.VIDEO.video(loop muted autoplay poster="images/poly-ainimation.png" id="video-background")
			source(src="poly-ainimation-007.mp4" type="video/mp4")
			source(src="poly-ainimation-007.webm" type="video/webm")
		.container
			.row
				.col-md-8.col-md-offset-2.text-center
					h2 这个项目的优点有哪些？
					+e.text
						p 到2025年，地球上纯饮用水的短缺将会以每年1.3-2.0万亿立方米的速度增长。中国、东南亚、中东和非洲将是第一个遭遇严重淡水短缺的国家。

						p.allert BAIKALIKA 从贝加尔湖上提取深层的水，并在世界上最缺水的地区推广BAIKALIKA。

						p 因此，Baikalika项目拥有巨大潜力，为消费者提供稳定的饮用水供应，同时也为BAIKALIKA的代币持有人提供了获得可观利润的巨大机会。
