mixin about()
	+b.SECTION.about
		+e.VIDEO.video(loop muted autoplay poster="images/poly-ainimation.png")
			source(src="poly-ainimation-006.mp4" type="video/mp4")
			source(src="poly-ainimation-006.webm" type="video/webm")
		.container
			.row
				.col-md-8.col-md-offset-2.text-center
					h2 What is so great about this project?
					+e.text
						p According to the China Water Risk 120 million people in China don't have access to the pure drinking water. Only 10% of households are satisfied with the urban municipal water supply. With the retail prices reaching $0.6 per liter the addressable market can be estimated as $25 bln /year.

						p.allert BAIKALIKA extracts the deep-layer water from the lake Baikal and works on the promotion of BAIKALIKA bottled drinking water in China.

						p Thus BAIKALIKA project has a great potential for providing a stable supply of the pure drinking water to the consumers in China and also providing a great opportunity to obtain substantial profits for the BAIKALIKA tokens holders.
