mixin diagram()
	+b.SECTION.diagram
		.container
			.row
				.col-md-12.text-center
					h2 Acquired funds distribution
					+e.IMG.image(src="images/acquired-funds-distribution.png" srcset="images/acquired-funds-distribution@2x.png 2x, images/acquired-funds-distribution@3x.png 3x" alt="Diagram")
