mixin diagram_ru()
	+b.SECTION.diagram
		.container
			.row
				.col-md-12.text-center.img_ru
					h2 РАСПРЕДЕЛЕНИЕ СРЕДСТВ
					+e.IMG.image(src="images/acquired-funds-distribution-ru.png" srcset="images/acquired-funds-distribution-ru@2x.png 2x, images/acquired-funds-distribution-ru@3x.png 3x" alt="Diagram")
