mixin diagram_ch()
	+b.SECTION.diagram
		.container
			.row
				.col-md-12.text-center.img_ch
					h2 筹集资金的分配
					+e.IMG.image(src="images/acquired-funds-distribution-ch.png" srcset="images/acquired-funds-distribution-ch@2x.png, images/acquired-funds-distribution-ch@3x.png" alt="Diagram")
