mixin know()
	+b.SECTION.know
		.container
			.row
				.col-md-12
					h2.text-center What else do you need to know?
				.col-md-12
					+e.item-wrapper
						+e.DIV.item.text-center
							+e.DIV.icon-wrapper
								+e.DIV.icon
							h3 Experienced water producer
							p Baikalika already mines and sells the water from Baikal. The funding will be used to expand the scope of operations to supply token-holders.
						+e.DIV.item.text-center
							+e.DIV.icon-wrapper
								+e.DIV.icon
							h3 Advanced technology
							p Blockchain solution for the BAIKALIKA tokens operations managed via smart contracts and based on the proof of stake model, guarantees transparency and safety for the BAIKALIKA tokens holders.
						+e.DIV.item.text-center
							+e.DIV.icon-wrapper
								+e.DIV.icon
							h3 The token value set to grow
							p The buy-back program for token holders assumes that the volume of the tokens available on the market will decrease with the time thus impacting positively on the tokens’ price and liquidity.
