mixin know_ru()
	+b.SECTION.know
		.container
			.row
				.col-md-12
					h2.text-center ЧТО НЕОБХОДИМО ЗНАТЬ О ПРОЕКТЕ?
				.col-md-12
					+e.item-wrapper
						+e.DIV.item.text-center
							+e.DIV.icon-wrapper
								+e.DIV.icon
							h3 Производство
							p Фабрика располагается на берегу и добывает воду непосредственно из озера Байкал. Мы приглашаем крипто-инвесторов к участию в расширении производства и распределению добытой воды.
						+e.DIV.item.text-center
							+e.DIV.icon-wrapper
								+e.DIV.icon
							h3 Блокчейн-технологии
							p Смарт-контракт позволит сделать прозрачными все операции, и даст гарантию приобретателям токенов что вода подлинна, а все процедуры безопасны и честны.
						+e.DIV.item.text-center
							+e.DIV.icon-wrapper
								+e.DIV.icon
							h3 Ликвидность токенов
							p Обратный выкуп и востребованность реального актива создают высокую ликвидность токенов.
