mixin know_ch()
	+b.SECTION.know
		.container
			.row
				.col-md-12
					h2.text-center 您还需要知道什么？
				.col-md-12
					+e.item-wrapper
						+e.DIV.item.text-center
							+e.DIV.icon-wrapper
								+e.DIV.icon
							h3 经验丰富的水生产商
							p Baikalika已经在贝加尔湖上开采水并进行出售。这笔资金将用于扩大业务范围，为代币持有人提供服务。
						+e.DIV.item.text-center
							+e.DIV.icon-wrapper
								+e.DIV.icon
							h3 先进的技术
							p 为BAIKALIKA代币运营所采取的区块链解决方案基于股权模型，是通过智能合同进行管理的，保证了BAIKALIKA代币持有人的透明度和安全。
						+e.DIV.item.text-center
							+e.DIV.icon-wrapper
								+e.DIV.icon
							h3 代币增值潜力巨大
							p 代币持有人的回购计划假定，市场上可用的代币数量将随着时间的推移而减少，从而对代币的价格和流动性产生积极影响。
