mixin know()
	+b.SECTION.know
		.container
			.row
				.col-md-12
					h2.text-center What else do you need to know?
				.col-md-4
					+e.DIV.item.text-center
						+e.DIV.icon
							img(src="images/bkl.png" alt="BKL")
						h3 Experienced water producer
						p Baikalika already mines and sells the water from Baikal. The funding will be used to expand the scope of operations to supply token-holders.
				.col-md-4
					+e.DIV.item.text-center
						+e.DIV.icon
							img(src="images/gear.png" alt="gear")
						h3 Advanced  technology
						p Blockchain solution for the BAIKALIKA tokens operations managed via  smart contracts based on the proof of stake model guarantee transparency and safety for the BAIKALIKA tokens holders.
				.col-md-4
					+e.DIV.item.text-center
						+e.DIV.icon
							img(src="images/lab.png" alt="lab")
						h3 The token value set to grow
						p The buy-back program for the token holders assumes that the volume of the tokens operated at the market will decrease with the time thus impacting positively tokens’ price and liquidity.
