mixin know_ru()
	+b.SECTION.know
		.container
			.row
				.col-md-12
					h2.text-center ЧТО НЕОБХОДИМО ЗНАТЬ О ПРОЕКТЕ?
				.col-md-12
					+e.item-wrapper
						+e.DIV.item.text-center
							+e.DIV.icon-wrapper
								+e.DIV.icon
							h3 Производитель с многолетним опытом
							p Фабрика «Байкалика» располагается на берегу и добывает воду непосредственно из озера Байкал. И чтобы расширить объем производства, мы приглашаем криптоинвесторов принять участие в проекте.
						+e.DIV.item.text-center
							+e.DIV.icon-wrapper
								+e.DIV.icon
							h3 Блокчейн-технологии
							p Смарт-контракт  позволит сделать прозрачными все операции и даст гарантию приобретателям токенов «Байкалика»,  что вода подлинная, а все процедуры безопасны и честны.
						+e.DIV.item.text-center
							+e.DIV.icon-wrapper
								+e.DIV.icon
							h3 Ценность токенов в перспективе роста
							p Регулярный выкуп и сокращение количества токенов позитивно повлияют на их цену и ликвидность.
