mixin team_ch()
	+b.SECTION.team
		.container
			h2 我们的团队

			.team-container
				.team-block
					.img-bg
						<img src='./images/cover-yg.jpg' />
					.team-block-content
						.team-info
							.img-circle
								<img src='./images/avatar-yg.png' />
							h2 Yan Gluhov
							p.allert 联合创始人。
						.team-description
							i.fa.fa-linkedin
							+e.description
								p 在工程和冶金领域的许多大中型制造企业担任过领导。IZTM集团 (http://iztm.ru) 的所有者。与秦冶重工业有限公司合作的中俄合资企业的创始人。Irkutsk City开发项目的创始人(http://www.irkutskcity.ru)。
				.team-block
					.img-bg
						<img src='./images/cover-dz.jpg' />
					.team-block-content
						.team-info
							.img-circle
								<img src='./images/avatar-dz.png' />
							h2 DMITRY ZUEV
							p.allert 联合创始人及投资分析师。
						.team-description
							i.fa.fa-linkedin
							+e.description
								p 在企业部门的投资和银行服务的信用组合方面，拥有17年的可靠经验。与东西伯利亚地区的主要工业集团的高层和高级管理人员拥有良好的关系。
				.team-block
					.img-bg
						<img src='./images/cover-if.jpg' />
					.team-block-content
						.team-info
							.img-circle
								<img src='./images/avatar-if.png' />
							h2 ILYA FROLOV
							p.allert 首席执行官。
						.team-description
							i.fa.fa-linkedin
							+e.description
								p 具有国际背景的专业经理——曾任职百事、可口可乐、宜家、卡特彼勒。开发和关注区块链在实体领域的执行
				.team-block
					.img-bg
						<img src='./images/cover-an.jpg' />
					.team-block-content
						.team-info
							.img-circle
								<img src='./images/avatar-an.png' />
							h2 ANDREY NEDOBYLSKIY
							p.allert 首席技术官及区块链开发人员。
						.team-description
							i.fa.fa-linkedin
							+e.description
								p izzz.io区块链平台的联合创始人兼首席技术官。在物联网和开发管理领域，拥有10余年一站式开发和高负载解决方案的经验: Artskills.ru, nettech. company, RuKupon.rf, Аукционмашин.рф等等。
				.team-block
					.img-bg
						<img src='./images/cover-kt.jpg' />
					.team-block-content
						.team-info
							.img-circle
								<img src='./images/avatar-kt.png' />
							h2 EKATERINA TARASOVA
							p.allert 公关总监。
						.team-description
							i.fa.fa-linkedin
							+e.description
								p 俄罗斯联邦第七次议会国家杜马副主席的助理。负责处理公众关系，与环境基金合作，并实施环境计划。心理学研究生学位。
				.team-block
					.img-bg
						<img src='./images/cover-sl.jpg' />
					.team-block-content
						.team-info
							.img-circle
								<img src='./images/avatar-sl.png' />
							h2 SVETLANA LEPEHOVA
							p.allert 生态学与生物学专家。
						.team-description
							i.fa.fa-linkedin
							+e.description
								p H 指数为15 的生物科学博士。国际研究员。细胞生物学领域35项发明和项目的创始人。负责Baikalika的生物平衡和水萃取的生态平衡。
