mixin team()
	+b.SECTION.team
		.container
			.row
				.col-md-4.col-sm-4
					.img-circle
				.col-md-8.col-sm-8
					h2 DMITRY ZUEV
					p.allert Co-founder & invest analyst
					+e.description
						p Proven records in developing and promoting of the investments and credit portfolio of banking services for the corporate sector for 17 years. Well established networking with top and senior managers in key industrial groups of East-Siberian region.
			.row
				.col-md-8.col-sm-8
					h2 ILYA FROLOV
					p.allert CEO
					+e.description
						p Professional manager with international background - PEPSI, COCA-COLA, IKEA, CATERPILLAR. Development and focus on the implementation of blockchain in the real sector.
				.col-md-4.col-sm-4
					.img-circle
			.row
				.col-md-4.col-sm-4
					.img-circle
				.col-md-8.col-sm-8
					h2 ANDREY NEDOBYLSKIY
					p.allert CTO & blockchain developer
					+e.description
						p Co-founder and CTO of izzz.io blockchain platform. More than 10 years of experience in full stack development and high-loaded solutions in the field of IoT and development management: Artskills.ru, nettech. company, RuKupon.rf, Аукционмашин.рф and many others.
			.row
				.col-md-8.col-sm-8
					h2 EKATERINA TARASOVA
					p.allert Public Relations Director
					+e.description
						p Assistant to a deputy of the State Duma of the Federal Assembly of the Russian Federation of the seventh convocation. Responsible for working with the public, cooperating with environmental funds, and implementing environmental programs. Graduate psychologist.
				.col-md-4.col-sm-4
					.img-circle
			.row
				.col-md-4.col-sm-4
					.img-circle
				.col-md-8.col-sm-8
					h2 SVETLANA LEPEHOVA
					p.allert Specialist in Ecology and Biology
					+e.description
						p Doctor of Biological Sciences with H-Index of 15. International researcher. Author of 35 inventions and projects in the field of cell biology. Responsible for the biological balance of Baikalika water and the ecology of water extraction.
			.row
				.col-md-8.col-sm-8
					h2 Yan Gluhov
					p.allert Co-founder
					+e.description
						p Co-founder
				.col-md-4.col-sm-4
					.img-circle
						<img src='../images/Yan_Gluhov.jpg' />

