mixin team()
	+b.SECTION.team
		.container
			h2 Our Team

			.team-container
				.team-block
					.img-bg
						<img src='./images/cover-yg.jpg' />
					.team-block-content
						.team-info
							.img-circle
								<img src='./images/avatar-yg.png' />
							h2 Yan Gluhov
							p.allert Co-founder
						.team-description
							i.fa.fa-linkedin
							+e.description
								p Head of a number of large and medium-sized manufacturing enterprises in the field of engineering and metallurgy. Owner of IZTM group of companies (http://iztm.ru). Founder of a joint Russian-Chinese enterprise in partnership with QINYE HEAVY INDUSTRY CO., LTD. Founder of Irkutsk City development project (http://www.irkutskcity.ru).
				.team-block
					.img-bg
						<img src='./images/cover-dz.jpg' />
					.team-block-content
						.team-info
							.img-circle
								<img src='./images/avatar-dz.png' />
							h2 DMITRY ZUEV
							p.allert Co-founder & invest analyst
						.team-description
							i.fa.fa-linkedin
							+e.description
								p Proven records in developing and promoting of the investments and credit portfolio of banking services for the corporate sector for 17 years. Well established networking with top and senior managers in key industrial groups of East-Siberian region.
				.team-block
					.img-bg
						<img src='./images/cover-if.jpg' />
					.team-block-content
						.team-info
							.img-circle
								<img src='./images/avatar-if.png' />
							h2 ILYA FROLOV
							p.allert CEO
						.team-description
							i.fa.fa-linkedin
							+e.description
								p Professional manager with international background - PEPSI, COCA-COLA, IKEA, CATERPILLAR. Development and focus on the implementation of blockchain in the real sector.
				.team-block
					.img-bg
						<img src='./images/cover-an.jpg' />
					.team-block-content
						.team-info
							.img-circle
								<img src='./images/avatar-an.png' />
							h2 ANDREY NEDOBYLSKIY
							p.allert CTO & blockchain developer
						.team-description
							i.fa.fa-linkedin
							+e.description
								p Co-founder and CTO of izzz.io blockchain platform. More than 10 years of experience in full stack development and high-loaded solutions in the field of IoT and development management: Artskills.ru, nettech. company, RuKupon.rf, Аукционмашин.рф and many others.
				.team-block
					.img-bg
						<img src='./images/cover-kt.jpg' />
					.team-block-content
						.team-info
							.img-circle
								<img src='./images/avatar-kt.png' />
							h2 EKATERINA TARASOVA
							p.allert Public Relations Director
						.team-description
							i.fa.fa-linkedin
							+e.description
								p Assistant to a deputy of the State Duma of the Federal Assembly of the Russian Federation of the seventh convocation. Responsible for working with the public, cooperating with environmental funds, and implementing environmental programs. Graduate psychologist.
				.team-block
					.img-bg
						<img src='./images/cover-sl.jpg' />
					.team-block-content
						.team-info
							.img-circle
								<img src='./images/avatar-sl.png' />
							h2 SVETLANA LEPEHOVA
							p.allert Specialist in Ecology and Biology
						.team-description
							i.fa.fa-linkedin
							+e.description
								p Doctor of Biological Sciences with H-Index of 15. International researcher. Author of 35 inventions and projects in the field of cell biology. Responsible for the biological balance of Baikalika water and the ecology of water extraction.
