mixin subscribe_ru(title, desk)
	+b.subscribe-form
		form(method="get" action="javascript:void(0);")
			+e.P.__title #{title}
			+e.P.__desk #{desk}
			+e.input
				+e.INPUT.__field(type="text" placeholder="Ваш e-mail")
				+e.BUTTON.__send.btn(type="submit") Принять участие в предварительной продаже
