include ../subscribe/subscribe

mixin header()
	+b.HEADER(id="home")
		.container
			.row
				.col-md-2
					.logo
				.col-md-3
					+b.UL.social
						+e.LI.__link
							a(href="https://medium.com/@fortunecoin" target="_blank")
								i.fa.fa-medium
						+e.LI.__link
							a(href="https://www.facebook.com/fortunecoin/" target="_blank")
								i.fa.fa-facebook
						+e.LI.__link
							a(href="https://twitter.com/fortunecoin" target="_blank")
								i.fa.fa-twitter
						+e.LI.__link
							a(href="https://www.linkedin.com/company/fortunecoin" target="_blank")
								i.fa.fa-linkedin
						+e.LI.__link
							a(href="https://www.reddit.com/user/Fortunecoin/" target="_blank")
								i.fa.fa-reddit
						+e.LI.__link
							a(href="https://angel.co/fortunecoin" target="_blank")
								i.fa.fa-angellist
						+e.LI.__link
							a(href="https://t.me/fortunecoin" target="_blank")
								i.fa.fa-telegram
						+e.LI.__link
							a(href="http://fortunecoin.slack.com" target="_blank")
								i.fa.fa-slack
				.col-md-6
					+b.NAV.navigations
						+e.A.__link(href = '#home') Home
						+e.A.__link(href = '#tokens') TOKENs
						+e.A.__link(href = '#roadmap') roadmap
						+e.A.__link(href = '#contacts') Contact
				.col-md-1.language-wrap
					+b.UL.language
						+e.LI.__element-toggle.__element-toggle-active
							a(href='#') EN
						+e.LI.__element-toggle
							a(href='#') CH
			.main-header-content
				.row
					.col-md-12
						.text-logo
						h2 Blockchain technologies for Baikal water mining and distribution
					.col-md-12
						+subscribe('Interested in purchasing BAIKALIKA tokens?')
						button.btn.btn-two Download Project White Paper
