include ../subscribe/subscribe

mixin header()
	+b.HEADER(id="home")
		.site-navigation
			.container
				.row
						.col-md-2
							.logo
						.col-md-3.col-sm-6
							+b.UL.social
								+e.LI.__link
									a(href="https://medium.com/@fortunecoin" target="_blank")
										i.fa.fa-medium
								+e.LI.__link
									a(href="https://www.facebook.com/fortunecoin/" target="_blank")
										i.fa.fa-facebook
								+e.LI.__link
									a(href="https://twitter.com/fortunecoin" target="_blank")
										i.fa.fa-twitter
								+e.LI.__link
									a(href="https://t.me/fortunecoin" target="_blank")
										i.fa.fa-telegram
						.col-md-6.col-sm-6
							+b.NAV.navigations
								+e.A.__link(href = '#home') Home
								+e.A.__link(href = '#tokens') TOKENs
								+e.A.__link(href = '#roadmap') roadmap
								+e.A.__link(href = '#contacts') Contact
						.col-md-1.language-wrap
							+b.UL.language
								+e.LI.__element-toggle.__element-toggle-active
									a(href='#') EN
								+e.LI.__element-toggle
									a(href='Baikalika-teaser-RU.pdf') РУ
								+e.LI.__element-toggle
									a(href='#') 中文
		.main-header-content
			.container
				.row
					.col-md-12
						.text-logo
						h2 Blockchain technologies for Baikal water mining and distribution
					.col-md-12
						+subscribe('Interested in purchasing BAIKALIKA tokens?')
						button.btn.btn-two Download Project White Paper
