include ../subscribe/subscribe_ru

mixin header_ru()
	+b.HEADER(id="home")
		.site-navigation
			.container
				.row
						.col-md-2
							.logo
						.col-md-3.col-sm-6
							+b.UL.social
								+e.LI.__link
									a(href="https://medium.com/@fortunecoin" target="_blank")
										i.fa.fa-medium
								+e.LI.__link
									a(href="https://www.facebook.com/fortunecoin/" target="_blank")
										i.fa.fa-facebook
								+e.LI.__link
									a(href="https://twitter.com/fortunecoin" target="_blank")
										i.fa.fa-twitter
								+e.LI.__link
									a(href="https://t.me/fortunecoin" target="_blank")
										i.fa.fa-telegram
						.col-md-6.col-sm-6
							+b.NAV.navigations
								+e.A.__link(href = '#home') Главная
								+e.A.__link(href = '#tokens') Токены
								+e.A.__link(href = '#roadmap') roadmap
								+e.A.__link(href = '#contacts') Контакты
						.col-md-1.language-wrap
							+b.UL.language
								+e.LI.__element-toggle
									a(href='/') EN
								+e.LI.__element-toggle.__element-toggle-active
									a(href='index_ru.html') РУ
								+e.LI.__element-toggle
									a(href='#') 中文
		.main-header-content
			.container
				.row
					.col-md-12
						.text-logo Байкалика
						h2 Блокчейн-технологии для добычи и распределения питьевой воды озера Байкал
					.col-md-12
						+subscribe_ru('Заинтересованы покупкой токенов?')
						button.btn.btn-two Скачать White Paper
