include ../subscribe/subscribe

mixin footer()
	+b.FOOTER.footer(id="contacts")
		.container
			.row
				+subscribe('Sign-up to the pre-sale', 'If you are interested in our special options for the early purchase of the BAIKALIKA tokens and to guarantee your participation in the token pre-sale, please, submit your email address and the approximate amount of tokens you are considering purchasing.')
			.row
				.col-md-12
					+b.UL.politics
				.col-md-12
					span.copy © 2017. Baikalika
					+b.UL.social
						+e.LI.__link
							a(href="https://medium.com/@fortunecoin" target="_blank")
								i.fa.fa-medium
						+e.LI.__link
							a(href="https://www.facebook.com/fortunecoin/" target="_blank")
								i.fa.fa-facebook
						+e.LI.__link
							a(href="https://twitter.com/fortunecoin" target="_blank")
								i.fa.fa-twitter
						+e.LI.__link
							a(href="https://t.me/fortunecoin" target="_blank")
								i.fa.fa-telegram
