include ../subscribe/subscribe_ru

mixin footer_ru()
	+b.FOOTER.footer(id="contacts")
		.container
			.row
				+subscribe_ru('ПРИНЯТЬ УЧАСТИЕ В ПРЕДВАРИТЕЛЬНОЙ ПРОДАЖЕ', 'Чтобы подать заявку на участие в предпродаже токенов «Байкалика», пожалуйста, укажите адрес вашей электронной почты и приблизительную сумму токенов, которую хотите приобрести.')
			.row
				.col-md-12
					+b.UL.politics
				.col-md-12
					span.copy © 2017. Baikalika
					+b.UL.social
						+e.LI.__link
							a(href="https://medium.com/@fortunecoin" target="_blank")
								i.fa.fa-medium
						+e.LI.__link
							a(href="https://www.facebook.com/fortunecoin/" target="_blank")
								i.fa.fa-facebook
						+e.LI.__link
							a(href="https://twitter.com/fortunecoin" target="_blank")
								i.fa.fa-twitter
						+e.LI.__link
							a(href="https://t.me/fortunecoin" target="_blank")
								i.fa.fa-telegram
