mixin roadmap()
	+b.SECTION.roadmap(id="roadmap")
		.container
			.row
				.col-md-12.text-center
					h2 Project roadmap
					+e.P.description Currently, the amount of the Baikal water produced by Baikalika plant is 8.5 million liters per year. The water in supplied to the Russian market.
					+e.P.description The purpose of Crowdsale is fund raising for the plant output expansion and for the product introduction to water-deficient countries, in the first place –to China. In the long term, it is expected to increase volumes of supplied product and to enter the markets of South-Eastern Asia and Middle East.
				+e.steps.col-md-12
					+e.tube-element
					+e.UL.list
						+e.LI.item
							h3 2014
							p Quotas for water extraction obtained
						+e.LI.item
							h3 2015
							p BAIKALIKA plant founded
						+e.LI.item
							h3 Nov 2017
							p Pre-Sale
						+e.LI.item
							h3 Jan 2018
							p Crowd sale
						+e.LI.item
							h3 Mar 2018
							p End of the plant output expansion
						+e.LI.item
							h3 Apr 2018
							p  Beginning of supply to the market of China in the amount of up to 60 million liters per year
						+e.LI.item
							h3 Sep 2018
							p Beginning of tokens repurchase
						+e.LI.item
							h3 Apr 2019
							p Entering markets of Southeast countries Increase of supply amount up to 90 million liters per year
						+e.LI.item
							h3 Apr 2020
							p  Entering markets of Middle East countries Increase of supply amount up to 130 million liters per year
						+e.LI.item
							h3 Apr 2021
							p Increase of supply amount up to 160 million liters per year
