mixin roadmap()
	+b.SECTION.roadmap(id="roadmap")
		.container
			.row
				.col-md-12.text-center
					h2 Project roadmap
					+e.P.description Lorem ipsum dollor sit amet donec eu libero sit amet quam egestas semper, aenean ultricies duis.
				+e.steps.col-md-12
					+e.tube-element
					+e.UL.list
						+e.LI.item
							h3 Oct 2019
							p Tokens can be used for purchasing water
						+e.LI.item
							h3 Feb 2019
							p Water mining for the token holders
						+e.LI.item
							h3 Dec 2017 - Jan 2018
							p Funds allocation  & Production launch
						+e.LI.item
							h3 Nov 2017
							p Token crowdsale
						+e.LI.item
							h3 Aug 2017 - Oct 2017
							p Marketing campaign
